In [0]:
!pip install pydrive
!pip install pandasql
!git clone https://github.com/rambam613/gql.git
from gql import gql as gd
import pandas as pd

In [0]:
#create a folder in google drive
gd.create('gql_test')

In [15]:
#list files in that folder
gd.ls('gql_test')

[]

In [9]:
#read in data from the web
df = pd.read_excel('https://www.eia.gov/dnav/ng/hist_xls/RNGWHHDd.xls',sheet_name=1,header=2)
df.head()

        Date  Henry Hub Natural Gas Spot Price (Dollars per Million Btu)
0 1997-01-07                                               3.82
1 1997-01-08                                               3.80
2 1997-01-09                                               3.61
3 1997-01-10                                               3.92
4 1997-01-13                                               4.00

In [0]:
#upload dataframe as csv (hh) to a folder (gql_test)
gd.push(df,'gql_test/hh')

In [19]:
#now check the list of files in the folder
gd.ls('gql_test')

['hh']

In [18]:
#read that csv to a dataframe
gd.pull('gql_test/hh').head()

         Date  Henry Hub Natural Gas Spot Price (Dollars per Million Btu)
0  1997-01-07                                               3.82
1  1997-01-08                                               3.80
2  1997-01-09                                               3.61
3  1997-01-10                                               3.92
4  1997-01-13                                               4.00

In [0]:
#delete the file
gd.wipe('gql_test/hh')